<?xml version="1.0"?>
<launch>
  	<env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
	<arg name="input_file" default="path.bag"/>
  	<node pkg="path_utilities" type="load_path.py" name="load_path" output="screen">
   		<param name="goal_frame_id" value="map"/>
    	<param name="input_file" value="$(arg input_file)" />
  	</node>
</launch>