<?xml version="1.0"?>
<launch>

  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="hotel_map.yaml"/>
  <param name="map_file" value="$(arg map_file)"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!--remap from="scan" to="vehicle/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/-->
    <rosparam file="$(find navigation)/config/amcl.yaml" command="load" />
  </node>

<!-- Distribute pose array across free space -->
  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find navigation)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find navigation)/config/dwa_local_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/config/teb_local_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/config/trayectory_local_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/config/global_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/config/nav_fn_global_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/config/move_base.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="vehicle/laser/scan"/>

  </node>
</launch>
